<app-tv-wallpaper [idle]="idle">
    <section class="tv">
        <main class="tv-main">
            <app-tv-news [keyDownSubject]="keyDownSubject"></app-tv-news>
        </main>
        <aside class="tv-aside">
            <app-tv-radio [keyDownSubject]="keyDownSubject"></app-tv-radio>
            <section class="tv-aside-section">
                <app-tv-weather></app-tv-weather>
                <span class="separator">|</span>
                <app-tv-clock></app-tv-clock>
            </section>
        </aside>
    </section>
</app-tv-wallpaper>
