<main class="content">
    <div class="container">
        @if (ovpVideo) {
            <article class="ovp-video">
                <button
                    [ngClass]="[
                        'favorite-button',
                        favorites?.favorites?.includes(ovpVideo.id) ? 'favorite' : ''
                    ]"
                    (click)="setFavorite(ovpVideo)"
                >
                    &nbsp;
                </button>
                <iframe
                    [src]="domSanitizer.bypassSecurityTrustResourceUrl(ovpVideo.embed)"
                    allow="fullscreen"
                ></iframe>
            </article>
        }

        <div class="tags">
            @for (keyword of ovpVideo?.keywords?.split(','); track keyword) {
                @if (keyword) {
                    <a href="{{ url(keyword) }}">
                        {{ keyword.trim() }}
                    </a>
                }
            }
        </div>
    </div>
</main>
