@import "variables";

.tv-wallpaper {
    position: relative;
    height: 100vh;
    max-height: calc(100vh - $global-px * 4.5);
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.2s all ease-in-out;

    &.idle {
        max-height: 100vh;
        z-index: 4;
        margin-top: -($global-px * 4.5);

        :host-context(.mobile-navigation-visible) & {
            max-height: calc(100vh - $global-px * 4.5);
            z-index: unset;
            margin-top: unset;
        }
    }
}
