@import "variables";

.navbar {
    padding: $global-px 0;
    display: flex;
    justify-content: space-between;
    gap: $global-px;
    position: sticky;
    top: 72px;
    background-color: #000000;

    input,
    select {
        display: inline-block;
        border: none;
        outline: none;
        padding: ($global-px * 0.5) $global-px;
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-size: $global-px;
        line-height: $global-px * $golden-ratio;
        all: unset;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: currentColor;

        @media (orientation: portrait) and (max-width: 767px),
            (orientation: landscape) and (max-width: 1023px) {
            // width: 100%;
        }
    }

    select {
        text-align: right;
    }
}

.ovp {
    display: grid;
    grid-gap: $global-px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    article {
        cursor: pointer;

        figure img {
            width: 100%;
        }
    }
}
