<main *ngIf="ovp">
    <div class="container">
        <nav class="navbar">
            <input
                type="search"
                [(ngModel)]="query"
                (search)="searchChange($event)"
                placeholder="Search.."
            />
            <select [(ngModel)]="order" (change)="orderChange()">
                <option value="latest">Latest</option>
                <option value="top-rated">Top Rated</option>
                <option value="most-popular">Most Popular</option>
                <option value="top-weekly">Top Weekly</option>
                <option value="top-monthly">Top Monthly</option>
            </select>
        </nav>

        <main class="ovp" *ngIf="ovp.videos?.length; else noResults">
            <article
                *ngFor="let video of ovp.videos"
                (touchstart)="setNewThumbnail(video)"
                (mouseenter)="setNewThumbnail(video)"
                (mouseleave)="setDefaultThumbnail(video)"
                (click)="goToOVPVideo(video)"
            >
                <figure>
                    <img [src]="video.current_thumb.src" />
                </figure>
            </article>
            <!-- </ng-template> -->
        </main>

        <ng-template #noResults>
            <span> No results..</span>
        </ng-template>
    </div>
</main>
