<input
    type="checkbox"
    name="favorites"
    id="favorites"
    [ngClass]="showFavorites ? 'active' : ''"
    [(ngModel)]="showFavorites"
    (change)="routerNavigate()"
/>

@if (ovp) {
    <main class="ovp-wrapper">
        <div class="container">
            <nav class="navbar">
                <input
                    type="search"
                    [(ngModel)]="query"
                    (search)="routerNavigate($event)"
                    placeholder="Search.."
                />
                <div>
                    <select [(ngModel)]="order" (change)="routerNavigate()">
                        <option value="top-weekly">Top Weekly</option>
                        <option value="top-monthly">Top Monthly</option>
                        <option value="most-popular">Most Popular</option>
                        <option value="top-rated">Top Rated</option>
                        <option value="latest">Latest</option>
                    </select>
                    <select
                        [(ngModel)]="orientation"
                        (change)="routerNavigate()"
                    >
                        <option value="portrait">Portrait</option>
                        <option value="landscape">Landscape</option>
                    </select>
                </div>
            </nav>
            @if (
                (showFavorites && favoriteVideos.length) ||
                (!showFavorites && ovp.videos.length)
            ) {
                <main class="ovp" #main>
                    <ng-template [ngTemplateOutlet]="pagination"></ng-template>
                    @for (
                        video of showFavorites ? favoriteVideos : ovp.videos;
                        track video
                    ) {
                        @if (
                            video?.current_thumb?.src &&
                            ((orientation === "portrait" &&
                                video.default_thumb.height >
                                    video.default_thumb.width) ||
                                (orientation === "landscape" &&
                                    video.default_thumb.width >
                                        video.default_thumb.height))
                        ) {
                            <a
                                (touchstart)="setNewThumbnail(video)"
                                (mouseenter)="setNewThumbnail(video)"
                                (mouseleave)="setDefaultThumbnail(video)"
                                href="/#/ovp/{{ video.id }}?redirect=true"
                                class="video hidden"
                            >
                                <button
                                    [ngClass]="[
                                        'favorite-button',
                                        favorites?.favorites?.includes(video.id)
                                            ? 'favorite'
                                            : ''
                                    ]"
                                    (click)="setFavorite($event, video)"
                                ></button>
                                <figure>
                                    <img
                                        class="thumb"
                                        [src]="video.current_thumb.src"
                                        (load)="
                                            showFavoriteButton($event.target)
                                        "
                                        [style.aspect-ratio]="
                                            video.current_thumb.width /
                                            video.current_thumb.height
                                        "
                                    />
                                    <img
                                        class="background"
                                        [src]="video.current_thumb.src"
                                        [style.aspect-ratio]="
                                            video.current_thumb.width /
                                            video.current_thumb.height
                                        "
                                    />
                                </figure>
                                <span>{{ video.title }}</span>
                            </a>
                        }
                    }
                    <ng-template [ngTemplateOutlet]="pagination"></ng-template>
                </main>
            } @else {
                <span class="no-result"> No results..</span>
            }
            <ng-template #pagination>
                @if (ovp.total_pages > 1 && !showFavorites) {
                    <ul class="ovp-pagination">
                        @for (
                            item of [].constructor(ovp.total_pages)
                                | slice: 0 : 10;
                            track item;
                            let index = $index
                        ) {
                            <li
                                [ngClass]="index + 1 === page ? 'active' : ''"
                                (click)="routerNavigate(undefined, index + 1)"
                            >
                                {{ index + 1 }}
                            </li>
                        }
                    </ul>
                }
            </ng-template>
        </div>
    </main>
}
