@import "variables";

.ovp-wrapper {
    position: relative;
    z-index: 0;
}

.navbar {
    padding: $global-px 0;
    display: flex;
    justify-content: space-between;
    gap: $global-px;
    position: sticky;
    top: $global-px * 4.5 - 1px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0px,
        rgba(0, 0, 0, 0) 1px,
        rgba(0, 0, 0, 1) 1px
    );
    z-index: 1;

    input,
    select {
        display: inline-block;
        border: none;
        outline: none;
        padding: ($global-px * 0.5) $global-px;
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
        font-size: $global-px;
        line-height: $global-px * $golden-ratio;
        all: unset;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: currentColor;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: $global-px * 1.5;
            width: $global-px * 1.5;
            box-sizing: border-box;
            background-color: currentColor;
            background-size: 66.67%;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
            cursor: pointer;
        }
    }

    div {
        text-align: right;
    }

    select {
        text-align: right;
        cursor: pointer;
        margin-right: $global-px;

        @media (orientation: portrait) and (max-width: 767px),
            (orientation: landscape) and (max-width: 1023px) {
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.ovp {
    display: grid;
    grid-gap: $global-px;
    grid-template-columns: repeat(auto-fill, minmax(424px, 1fr));
    padding: $global-px 0;
    position: relative;

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .video {
        cursor: pointer;
        position: relative;
        z-index: 0;

        &.hidden {
            opacity: 0;
        }

        figure {
            padding-top: 56.3%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            .background {
                position: absolute;
                top: 50%;
                right: 0;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                object-fit: cover;
                filter: blur($global-px * 0.5);
                z-index: -1;
            }

            .thumb {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                user-select: none;
                pointer-events: none;
                max-width: 100%;
                max-height: 100%;
                display: block;
            }
        }

        .favorite-button {
            all: unset;
            position: absolute;
            top: $global-px;
            right: $global-px;
            height: $global-px * 2;
            width: $global-px * 2;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("/assets/images/star-grey.svg");
            z-index: 2;

            &.favorite {
                background-image: url("/assets/images/star-gold.svg");
            }
        }

        span {
            position: absolute;
            bottom: 0;
            left: $global-px * 0.25;
            color: #cccccc;
            text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    &-pagination {
        grid-column: 1/-1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $global-px;
        list-style: none;
        overflow: hidden;

        li {
            cursor: pointer;

            &.active {
                color: $primary-color;
            }
        }
    }
}

.no-result {
    display: block;
    padding: $global-px 0;
}

input[type="checkbox"] {
    all: unset;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    height: $global-px * 4.5;
    width: $global-px * 4.5;
    background-color: #000000;
    background-size: $global-px * 2.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(/assets/images/star-grey.svg);
    z-index: 9;

    &.active {
        background-image: url("/assets/images/star-gold.svg");
    }
}
