@import "variables";

.weather {
    font-size: $global-px * 5;
    line-height: $global-px * 5;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        font-size: $global-px * 2.5;
        line-height: $global-px * 2.5;
    }

    figure {
        position: relative;
        height: $global-px * 5;
        width: $global-px * 5;

        @media (orientation: portrait) and (max-width: 767px),
            (orientation: landscape) and (max-width: 1023px) {
            height: $global-px * 2.5;
            width: $global-px * 2.5;
        }

        img {
            position: absolute;
            object-fit: contain;
            width: auto;
            height: 100%;
            max-width: 100%;
        }
    }
}
