.weather {
    font-size: 80px;
    line-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    figure {
        position: relative;
        height: 80px;
        width: 80px;

        img {
            position: absolute;
            object-fit: contain;
            width: auto;
            height: 100%;
            max-width: 100%;
        }
    }
}
