@import "variables";

.weather {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: $global-px * 0.5;
    font-size: $global-px * 2.5;
    line-height: $global-px * 2.5;

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        font-size: $global-px * 1.5;
        line-height: $global-px * 1.5;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    figure {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: $global-px * 2.5;
        width: $global-px * 2.5;
        margin-left: $global-px * 0.5;

        @media (orientation: portrait) and (max-width: 767px),
            (orientation: landscape) and (max-width: 1023px) {
            height: $global-px * 1.5;
            width: $global-px * 1.5;
        }

        img {
            position: absolute;
            object-fit: contain;
            width: auto;
            height: 100%;
            max-width: 100%;
            opacity: 0.8;

            &.custom {
                max-height: $global-px * 1.5;

                &.wind {
                    max-height: $global-px * 1.25;
                }
            }
        }
    }
}
