@import 'variables';

.news-article {
    width: 100%;
    height: 100%;
    max-width: $global-px * 60;
    overflow: scroll;
    padding: 0 0 $global-px * 2.5 0;

    &::-webkit-scrollbar {
        display: none;
    }

    h1 {
        font-size: $global-px * 2.5;
        line-height: $global-px * 2.5 * $golden-ratio;
        padding-bottom: $global-px;
    }

    .timestamp {
        display: flex;
        align-items: center;

        img {
            margin: 0 $global-px * 0.5;
            height: $global-px;
            width: $global-px;
            object-fit: contain;
            display: unset;
        }
    }

    ::ng-deep {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        div.text {
            font-size: $global-px * 2;
            line-height: $global-px * 2 * $golden-ratio;
            padding-bottom: $global-px * 0.5;
            font-weight: 600;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            padding-top: $global-px * 0.5;
        }

        p,
        div.text {
            font-weight: 400;

            &:last-child:not(:only-child) {
                padding-bottom: 0;
            }
        }

        h6 {
            font-size: $global-px * 1.5;
            line-height: $global-px * 1.5 * $golden-ratio;
            font-weight: 400;
            display: flex;
        }

        a {
            color: currentColor;
            pointer-events: none;
            text-decoration: none;
        }

        ul,
        ol {
            list-style: none;
        }

        .container {
            all: unset;
        }

        .share-article,
        .read-more,
        .signupPlus,
        .startPayWall ~ div,
        div[type='image'],
        div[kind='link'],
        div[type='article-header'],
        div[type='carousel'],
        img {
            display: none;
        }
    }
}
