<audio #radioElement></audio>

<article class="now-playing">
    <h3 class="radio" [innerHTML]="nowPlayingChannel.visibleName"></h3>
    <h2>{{ nowPlayingSong }}</h2>
    <h3>{{ nowPlayingArtist }}</h3>
</article>

<section class="channels">
    <ul>
        @for (channel of radioService.radioChannels; track channel; let i = $index) {
            <li
                [ngClass]="i === selectedChannelIndex ? 'selected' : ''"
                [innerHTML]="channel.visibleName"
            ></li>
        }
    </ul>
</section>
