<section
    class="wrapper"
    [ngClass]="navVisible ? 'mobile-navigation-visible' : ''"
>
    <section class="header">
        <div class="container">
            <header>
                <figure routerLink="/">
                    <img
                        src="/assets/images/logo.svg"
                        alt="Raspberry Pi logo"
                    />
                </figure>

                <nav class="nav">
                    <ul>
                        <li *ngFor="let item of navItems">
                            <ng-container
                                *ngIf="item.internal; else externalLink"
                            >
                                <a
                                    *ngIf="
                                        item.label !== 'OVP' ||
                                        showOVP ||
                                        router.isActive(item.value, false)
                                    "
                                    [routerLink]="item.value"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                    (click)="navToggle()"
                                    routerLinkActive="active"
                                >
                                    {{ item.label }}
                                </a>
                            </ng-container>
                            <ng-template #externalLink>
                                <a [href]="item.value">
                                    {{ item.label }}
                                </a>
                            </ng-template>
                        </li>
                        <li (click)="toggleOVP()"></li>
                    </ul>
                </nav>

                <span class="nav-toggle" (click)="navToggle()"></span>
            </header>
        </div>
    </section>

    <router-outlet #outlet="outlet"></router-outlet>
</section>
