@import "variables";

.header {
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 2px currentColor;
    z-index: 1;
    background-color: #000000;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $global-px 0;

        figure {
            display: flex;
            align-items: center;
            gap: $global-px * 0.5;
            cursor: pointer;

            img {
                width: $global-px * 2.5;
                height: $global-px * 2.5;
                object-fit: contain;
            }
        }

        .nav {
            ul {
                display: flex;
                list-style: none;
                height: 100%;

                li {
                    a {
                        text-decoration: none;
                        color: currentColor;
                        padding: $global-px * 0.5 $global-px;
                        font-weight: 600;

                        &.active {
                            color: $primary-color;
                        }
                    }

                    &:last-child {
                        position: fixed;
                        right: 0;
                        bottom: 0;
                        height: 40px;
                        width: 40px;
                    }
                }
            }

            @media (orientation: portrait) and (max-width: 767px),
                (orientation: landscape) and (max-width: 1023px) {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                width: 75vw;
                max-width: 0;
                overflow: hidden;
                transform: translateX(75vw);
                transition: 0.2s all ease-in-out;
                background-color: $primary-color;
                z-index: 2;

                ul {
                    flex-direction: column;

                    li a {
                        padding: 0 $global-px;
                        line-height: $global-px * 4.5;
                        display: block;
                        border-bottom: 1px solid currentColor;

                        &.active {
                            color: #ffffff;
                        }
                    }
                }

                .mobile-navigation-visible & {
                    display: block;
                    transform: translateX(0);
                    max-width: 75vw;
                }
            }

            &-toggle {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                height: $global-px * 4.5;
                aspect-ratio: 1 / 1;
                background-color: $primary-color;
                cursor: pointer;
                -webkit-tap-highlight-color: transparent;
                z-index: 3;

                @media (orientation: portrait) and (max-width: 767px),
                    (orientation: landscape) and (max-width: 1023px) {
                    display: block;
                }

                &:before,
                &:after {
                    position: absolute;
                    content: "";
                    width: $global-px * 2;
                    transition: all 0.2s linear;
                }

                &:before {
                    box-shadow:
                        ($global-px * 1.25) ($global-px * 1.625) 0 1px
                            currentColor,
                        ($global-px * 1.25) ($global-px * 2.1875) 0 1px
                            currentColor;
                }

                &:after {
                    box-shadow: ($global-px * 1.25) ($global-px * 2.75) 0 1px
                        currentColor;
                }

                .mobile-navigation-visible & {
                    &:before {
                        box-shadow:
                            ($global-px * 2.5) ($global-px * 0.75) 0 1px
                                currentColor,
                            ($global-px * 2.5) ($global-px * 0.75) 0 1px
                                transparent;
                        transform: rotate(45deg);
                    }
                    &:after {
                        box-shadow: -($global-px * 0.75) ($global-px * 2.5) 0 1px
                            currentColor;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}

::ng-deep {
    .content {
        padding-top: $global-px;

        h1 {
            font-size: $global-px * 2;
            line-height: $global-px * 2 * $golden-ratio;
        }

        h2 {
            font-size: $global-px * 1.5;
            line-height: $global-px * 1.5 * $golden-ratio;
        }
    }
}
