<section class="header">
    <div class="container">
        <header>
            <figure routerLink="/">
                <img src="/assets/images/logo.svg" alt="Raspberry Pi logo" />
            </figure>

            <nav class="nav" [ngClass]="navVisible ? 'visible' : ''">
                <ul>
                    <li *ngFor="let item of navItems">
                        <a
                            [routerLink]="item.value"
                            [routerLinkActiveOptions]="{ exact: true }"
                            routerLinkActive="active"
                        >
                            {{ item.label }}
                        </a>
                    </li>

                    <li><a href="/admin">Pi-hole</a></li>
                </ul>
            </nav>

            <span
                class="nav-toggle"
                [ngClass]="navVisible ? 'active' : ''"
                (click)="navToggle()"
            ></span>
        </header>
    </div>
</section>

<router-outlet #outlet="outlet"></router-outlet>
