<section class="wrapper" [ngClass]="navVisible ? 'mobile-navigation-visible' : ''">
    <section class="header">
        <div class="container">
            <header>
                <figure routerLink="/">
                    <img src="/assets/images/logo.svg" alt="Raspberry Pi logo" />
                </figure>

                <nav class="nav">
                    <ul>
                        @for (item of navItems; track item) {
                            <li>
                                <a
                                    [routerLink]="item.value"
                                    (click)="navToggle()"
                                    routerLinkActive="active"
                                    [routerLinkActiveOptions]="{ exact: true }"
                                >
                                    {{ item.label }}
                                </a>
                            </li>
                        }
                    </ul>
                </nav>

                <span
                    class="nav-toggle"
                    (click)="navToggle()"
                    (keydown)="navToggle()"
                    tabindex="0"
                ></span>
            </header>
        </div>
    </section>

    <router-outlet #outlet="outlet"></router-outlet>
</section>
