@import "variables";

:host {
    display: inline-block;
    position: relative;
    width: 100%;
}

.camera {
    border: none;
    width: calc(100% + $global-px * 2);
    display: block;
    height: calc(100vh - ($global-px * 5));
    margin: (-$global-px) 0 0 (-$global-px);
}
