@import "variables";

:host {
    display: inline-block;
    position: relative;

    &:after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        width: 2px;
        background-color: #000000;
        position: absolute;
    }
}

.camera {
    max-width: 100%;
}
