@import "./styles/base/reset.scss";
@import "./styles/base/typography.scss";
@import "./assets/fonts/metropolis/metropolis.scss";

.container {
    width: 100%;
    max-width: $global-px * 120;
    margin: 0 auto;
    padding: 0 $global-px;
    position: relative;
}
