@import "variables";

.tv {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $global-px * 2.5;

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        padding: $global-px;
    }

    &-main {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        padding-top: $global-px * 2.5;
    }
}
