@import "variables";

.tv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $global-px * 2.5;
    color: #cccccc;
    text-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    transition: 0.2s all ease-in-out;

    @media (orientation: portrait) and (max-width: 767px),
        (orientation: landscape) and (max-width: 1023px) {
        padding: $global-px;
    }

    &-main {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        padding-top: $global-px * 2.5;
    }
}
