@import "variables";

html {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: $global-px;
    line-height: $global-px * $golden-ratio;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
